html {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
canvas {
  width: 100%;
  overflow-x: hidden;
  min-height: 62vh;
  background-color: #fff;
}
section {
  display: flex;
}

.container {
  width: 50vw;
  min-height: 83vh;
  border-radius: 2px;
  background: #ece9d8;
}
.header {
  position: relative;
}
.header-logo {
  color: transparent;
}
.header-top-wrap {
  display: flex;
  justify-content: space-between;
  background-color: #0054e4;
  align-items: center;
  color: white;
  height: 25px;
  padding-left: 1rem;
  border-radius: 2px 2px 0 0;
}
.header-left span {
  position: absolute;
  top: 6.5px;
}
.header-right .btn {
  width: 24px;
  height: 24px;
}

.nav-bar {
  display: flex;
  height: 25px;
  align-items: center;
  padding-left: 1rem;
  position: relative;
  top: 1.5px;
}
.nav-bar li {
  padding-right: 1rem;
  opacity: ;
}

section.side {
  position: relative;
  padding: 0 0.4rem;
}
.side-icons {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background: #ece9d8;
  padding-right: 0.4rem;
}
.side-icons .icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 68%;
  background-color: transparent;
  color: transparent;
  /* border: none; */
}
.side-icons .icon.icon-large {
  width: 80px;
  height: 50px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.palette .colors {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  width: fit-content;
}
.palette {
  margin-top: 1rem;
  border-bottom: 1px solid white;
}
.color-chip {
  width: 21px;
  height: 21px;
  border: inset;
  margin-right: 0.1rem;
}
.colors {
  display: flex;
}
.color-top-wrap,
.color-btm-wrap {
  display: flex;
  padding: 0.08rem;
  background-color: #fff;
  padding-left: 0.1rem;
}

.color-btm-wrap {
  margin-bottom: 0.6rem;
}
.change-color {
  border: inset;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-color: #fff;
  margin-left: 0.3rem;
}
.footer {
  display: flex;
  margin-left: 0.5rem;
  padding-top: 0.6em;
}
.footer p {
  opacity: 0.85;
}
