html {
  box-sizing: border-box;
}

.container {
  width: 45vw;
  height: 80vh;
  background: #ece9d8;
}
.header-top-wrap {
  display: flex;
  justify-content: space-between;
  background-color: #0054e4;
  align-items: center;
  color: white;
  height: 25px;
}
.header-left {
  display: flex;
}
.nav-bar {
  display: flex;
  height: 25px;
  background-color: #fff;
  align-items: center;
}
section {
  position: relative;
}
.side-icons {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}
.side-icons .icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: transparent;
  color: transparent;
}
