:root {
  /* color */
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
canvas {
  width: 100%;
  overflow-x: hidden;
  height: 62vh;
  background-color: #fff;
}
section {
  display: flex;
}
.container {
  width: 50vw;
  height: 85vh;

  background: #ece9d8;
}
.header-top-wrap {
  display: flex;
  justify-content: space-between;
  background-color: #0054e4;
  align-items: center;
  color: white;
  height: 25px;
}
.header-left {
  display: flex;
}
.nav-bar {
  display: flex;
  height: 25px;
  align-items: center;
}
section {
  position: relative;
  padding: 0 0.4rem;
}
.side-icons {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background: #ece9d8;
  padding-right: 0.4rem;
}
.side-icons .icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: transparent;
  color: transparent;
  border: none;
}
.side-icons .icon.icon-large {
  width: 80px;
  height: 50px;
  background-size: 70%;
}
.palette {
}
